/* variables */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  color: #666;
  letter-spacing: 0.5px;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img, embed {
  max-width: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  color: #285943;
  text-transform: capitalize;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

p {
  margin: 0 0 0.5rem 0;
}

figcaption {
  font-weight: bold;
  font-size: 1rem;
}

small {
  font-size: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  background: white;
}

table thead tr {
  background: crimson;
  color: white;
}

table thead tr th {
  font-weight: bold;
  padding: 0.8rem 0;
}

table tbody tr {
  border-top: 1px solid #ccc;
}

table tbody tr:first-child {
  font-size: 2rem;
  color: #285943;
}

table tbody tr td {
  text-align: center;
  padding: 1rem;
}

table tbody tr td:not(:last-child) {
  border-right: 1px solid #ccc;
}

.strong {
  font-weight: bold;
}

section {
  padding: 50px 0;
  background: url(../images/grad-2.png);
  background-size: cover;
}

section h2 {
  color: #97d2ff;
}

section h3, section h4, section h5, section p, section figcaption {
  color: white;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

blockquote {
  position: relative;
  padding: 1.6rem;
  background: #136ca7;
  border-left: 10px solid #003050;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  box-shadow: -5px 5px 5px rgba(255, 255, 255, 0.05);
}

blockquote a {
  color: cornflowerblue;
  text-decoration: underline;
}

blockquote:before {
  content: "\"";
  position: absolute;
  left: -20px;
  top: 23px;
  font-size: 3rem;
  width: 30px;
  height: 40px;
  background: #003050;
  color: white;
}

ul.list-block {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

ul.list-block li {
  position: relative;
  color: white;
  padding-left: 2rem;
}

ul.list-block li:not(:last-child) {
  margin-bottom: 0.5rem;
}

ul.list-block li:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 14px;
  height: 14px;
  background: linear-gradient(90deg, crimson 30%, white 60%, green 10%);
}

/* grid system */
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-right: -1rem;
  margin-left: -1rem;
}

.row .col {
  flex: 1 1 100%;
  padding: 0 1em;
}

.row .col.col-2 {
  flex: 1 1 50%;
}

.row .col.col-3 {
  flex: 1 1 33.3%;
}

.row .col.col-4 {
  flex: 1 1 25%;
}

/*  btns  */
.btn {
  border: 0;
  color: #285943;
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow 0.3s ease;
}

.btn:hover {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.btn__prime {
  background: #D7FFF1;
}

.btn-prime {
  color: white;
  /*linear-gradient(#c4efc6,#4be4b0)*/
  background: #8CD790;
}

/* custom styling */
.container {
  width: 1170px;
  margin: auto;
  padding: 0 1rem;
}

header {
  display: flex;
  flex-direction: column;
}

header .header__firstpart {
  padding: 20px 0;
}

header .header__secondpart {
  background: #1c2438;
}

.social-icons {
  float: right;
}

.social-icons li {
  float: left;
}

.social-icons li:not(:last-child) {
  margin-right: 10px;
}

.social-icons li a {
  display: block;
  width: 30px;
  height: 30px;
}

.social-icons li a svg {
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
}

.social-icons li a:hover svg {
  transform: translateY(-5px);
}

.logo {
  width: 170px;
  float: left;
  margin: 0;
  letter-spacing: initial;
}

.logo a {
  display: block;
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
}

nav .menu {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
}

nav .menu > li {
  flex: 1 1 auto;
  position: relative;
}

nav .menu > li:hover a + .menu__tools {
  display: block;
}

nav .menu a {
  display: block;
  text-transform: uppercase;
  color: #9acd32;
  padding: 1rem 0;
  font-size: 0.9rem;
  font-weight: bold;
  transition: color 0.3s linear;
}

nav .menu a:hover,
nav .menu a :active,
nav .menu a :focus {
  color: white;
}

nav .menu a + .menu__tools {
  position: absolute;
  z-index: 100;
  display: none;
  text-align: left;
  transform-origin: top;
  transition: all 0.3s ease-out;
  top: 100%;
  width: 250px;
  background: #1c2438;
  box-shadow: 0 1px 1px 5px rgba(0, 0, 0, 0.2);
}

nav .menu a + .menu__tools a {
  padding: 0.5rem;
  text-transform: capitalize;
}

nav .menu a + .menu__tools a:hover {
  color: white;
}

#whatforex p img {
  float: left;
  width: 50%;
  margin: 0 0px 10px 0;
}

#whatforex p img.angrybull {
  width: 25%;
}

#strategy_service blockquote {
  margin: 1rem 0;
}

.hero-image {
  background: url(../images/homepage2.jpeg);
  background-position: left;
  height: 500px;
  width: 100%;
  position: relative;
}

.hero-image .hero-heading {
  text-align: center;
  font-family: 'Patua One', cursive;
  padding-top: 2rem;
}

.hero-image .hero-heading p {
  font-size: 3rem;
  color: white;
  padding-bottom: 2rem;
  border-bottom: 3px dashed #fff;
  text-shadow: 2px 2px 10px rgba(237, 20, 61, 0.5);
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.8s ease-out,opacity 0.2s ease-out;
}

.hero-image .hero-heading h2 {
  transform: scale(0);
  font-size: 8rem;
  color: #333;
  text-shadow: 2px 2px 10px white;
  transition: transform 0.6s ease-in-out;
}

.hero-image .hero-heading h2 span {
  color: crimson;
}

.fourprinciples {
  padding: 2rem 0;
  margin-bottom: 1rem;
  text-align: center;
}

.fourprinciples figure {
  width: 50%;
  margin: 0 auto 10px;
}

.fourprinciples figure svg {
  max-width: 100%;
  width: 100%;
}

.paper {
  position: relative;
  z-index: 10;
  padding: 2rem;
  margin: 4rem 0 2rem;
}

.paper:before, .paper:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: white;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: rotate(0);
}

.paper:after {
  transform: rotate(2deg);
}

.paper h3 {
  color: #003569;
  text-transform: uppercase;
  text-shadow: 3px 3px 1px rgba(237, 20, 61, 0.25);
}

.paper .list-block {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.paper .list-block li {
  color: #666;
}

.contact-form {
  position: relative;
}

.contact-form h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
}

.contact-form h4 {
  font-size: 1.2rem;
}

.contact-form p {
  color: #c5c5c5;
}

.contact-form p a {
  color: #c5c5c5;
}

.contact-form input[type="text"],
.contact-form textarea,
.contact-form input[type="email"] {
  width: 48.7%;
  border: 2px ridge #DBDBDB;
  outline: none;
  padding: 1rem 0;
  font-size: 1rem;
  background: transparent;
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}

.contact-form input[type="text"] {
  margin-right: 1%;
  display: inline-block;
}

.contact-form input[type="email"] {
  margin-left: 1%;
  display: inline-block;
}

.contact-form textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.contact-form input[type="submit"] {
  background: transparent;
  color: white;
  height: 50px;
  width: 167px;
  display: block;
  outline: none;
  border: 2px ridge #DBDBDB;
  margin: auto;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.contact-form input[type="submit"]:hover {
  opacity: 0.9;
  color: #999;
}

.contact-form .social-icons {
  float: none;
}

footer {
  padding: 2rem 0;
  color: white;
  background: #1c2438;
  text-align: center;
}

/* scroll top bullbear */
#bullbear {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  text-indent: -9999px;
  width: 75px;
  height: 75px;
  border: 5px solid #77AF9C;
  border-radius: 50%;
  background-color: antiquewhite;
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  background-position: 2px -1px;
  background-size: 60px;
  display: none;
  transform: scale(0);
  transition: background-position 0.2s ease-in-out, transform 0.3s ease;
}

#bullbear:before {
  position: absolute;
  top: -18px;
  left: 15px;
  z-index: 8;
  display: block;
  content: "";
  border: 18px solid #77AF9C;
  border-top: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
}

.board {
  background: white;
  margin-bottom: 2rem;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
}

.board .board__head {
  background: crimson;
  text-align: center;
}

.board .board__head h4,
.board .board__head small {
  color: white;
  margin: 0;
  padding: 0.5rem 0;
}

.board .board__head .price {
  background: #ad102f;
  display: block;
  font-size: 3rem;
  color: initial;
}

.board .board__head small {
  display: block;
}

.board .board__body p,
.board .board__body ul li {
  color: #285943;
  font-size: 1rem;
}

.board .board__body .strong {
  color: #285943;
}

.board .btn-prime {
  font-size: 1.2rem;
  width: 100%;
}

.board__body,
.board__foot {
  padding: 0.5rem;
}

/*# sourceMappingURL=maps/styles.css.map */
