/* variables */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
  color: #87898f;
  letter-spacing: 0.5px;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}

h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: -1.5px;
  color: #285943;
}

h3 {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: -1.5px;
  color: #285943;
}

p {
  margin: 0 0 0.5rem 0;
}

figcaption {
  font-weight: bold;
  font-size: 1rem;
}

blockquote {
  position: relative;
  padding: 0 0 0 1rem;
  height: 100%;
  font-size: 1.5rem;
  font-style: italic;
}

blockquote:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0.5rem;
  height: inherit;
  background: #D7FFF1;
}

/* custom styling */
.container {
  width: 1000px;
  margin: auto;
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
}

header .logo a {
  display: block;
  width: 100px;
  height: 100px;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  background: white;
  border-top: 4px solid #77AF9C;
  border-bottom: 4px solid #77AF9C;
}

nav a {
  flex: 1;
  text-transform: capitalize;
  color: #20222f;
  padding: 1rem 0;
  font-size: 1.05rem;
  font-weight: bold;
}

main {
  height: 100vh;
}

.fourprinciples {
  padding: 2rem 0;
  background: cornsilk;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.row .col {
  flex: 0 0 25%;
  padding: 1em;
  text-align: center;
}

.row .col figure {
  width: 80%;
  margin: 0 auto 10px;
}

#bullbear {
  position: fixed;
  right: 10px;
  bottom: 0;
  z-index: 10;
  text-indent: -9999px;
  width: 75px;
  height: 75px;
  border: 5px solid #77AF9C;
  border-radius: 50%;
  background-color: rgba(144, 238, 144, 0.29);
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  background-position: 6px 6px;
  /*background-size: 45px;*/
  transform: scale(0);
  transition: transform 0.4s ease-in;
  transition: background-position 0.2s ease;
}

#bullbear:before {
  position: absolute;
  top: -18px;
  left: 15px;
  z-index: 8;
  display: block;
  content: "";
  border: 18px solid #77AF9C;
  border-top: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
}

.board {
  border: 3px solid #8CD790;
  border-radius: 2px;
}

.board__head, .board__body, .board__foot {
  padding: 0.5rem;
}

.board__head h4 {
  margin: 0;
}

.board__body, .board__foot {
  border-top: 1px solid #8CD790;
}

.btn {
  border: 2px solid #8CD790;
  color: #285943;
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: .5rem;
}

.btn__prime {
  background: #D7FFF1;
}

.btn__sec {
  color: #285943;
  /*linear-gradient(#c4efc6,#4be4b0)*/
  background: linear-gradient(#D7FFF1, #8CD790);
}

/*# sourceMappingURL=maps/vel.css.map */
