/* variables */

$header_height : 200px;

$color1 : #285943;
$color2 : #77AF9C;
$color3 : #8CD790;
$color4 : #D7FFF1;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
	font-family: 'Lato', sans-serif;	
	line-height:1.5;
	font-size:1.2rem;
	color: #87898f;
	letter-spacing: 0.5px;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::after,*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

a {
  text-decoration: none
}

h1,h2,h3,h4,h5,h6{
	margin:1rem 0;
}

h2{
	font-size:2.5rem;
	text-transform:capitalize;
	letter-spacing:-1.5px;
	color: $color1;
}

p{
	margin:0 0 0.5rem 0;
}

/* custom styling */


.container{
	width:1000px;
	margin:auto;
	padding: 1rem;
}

header{
	display:flex;
	flex-direction:column;

	.header__firstpart{
		
	}
}

nav{
	display:flex;
	align-items: center;
  flex-direction: row;
  text-align: center;
  background: white;
  border-top: 4px solid $color2;
  border-bottom: 4px solid $color2;
	a{
		flex: 1;
		text-transform: capitalize;
		color: #20222f;
		padding:1rem 0;
		font-size: 1.05rem;
		font-weight: bold;
	}
}

main{
	height:100vh;
}



