/* variables */

$header_height: 200px;
$color1: #285943;
$color2: #77AF9C;
$color3: #8CD790;
$color4: #D7FFF1;
$menucolor: darkgreen;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    // font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    font-size: 1.2rem;
    color: #666;
    letter-spacing: 0.5px;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::after,
*::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
    color: $color1;
    text-transform: capitalize;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3rem;
}

p {
    margin: 0 0 0.5rem 0;
}

figcaption {
    font-weight: bold;
    font-size: 1rem;
}

small {
    font-size: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background: white;
    thead {
        tr {
            background: crimson;
            color: white;
            th {
                font-weight: bold;
                padding: 0.8rem 0;
            }
        }
    }
    tbody {
        tr {
            border-top: 1px solid #ccc;
            &:first-child {
                font-size: 2rem;
                color: $color1;
            }
            td {
                text-align: center;
                padding: 1rem;
                &:not(:last-child) {
                    border-right: 1px solid #ccc;
                }
            }
        }
    }
}

.strong {
    font-weight: bold;
}

section {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

blockquote {
    position: relative;
    padding: 1.6rem;    
    background: $color4;
    border-left: 10px solid $color3;
    color: $color2;
    font-size: 1.5rem;
    font-style: italic;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .07);
    a {
        color: cornflowerblue;
        text-decoration: underline;
    }
    &:before {
        content: "\"";
        position: absolute;
        left: -20px;
        top: 23px;
        font-size: 3rem;
        width: 30px;
        height: 40px;
        background: $color3;
        color: white;
        // background: radial-gradient(circle, green 0%, rgba(0, 0, 255, 0) 50%, red 95%);
    }
}

ul.list-block {
    padding-left: 1rem;
    margin-bottom: 1rem;
    li {
        position: relative;
        padding-left: 2rem;

        &:not(:last-child){
            margin-bottom: 0.5rem;
        }
        
        &:before {
            content: "";
            position: absolute;
            left: 5px;
            top: 5px;
            width: 14px;
            height: 14px;
            background: linear-gradient(90deg, crimson 30%, white 60%, green 10%);
            // border-radius: 50%;
        }
    }
}


/* grid system */

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-right: -1rem;
    margin-left: -1rem;
    .col {
        flex: 1 1 100%;
        padding: 0 1em;
        &.col-2 {
            flex: 1 1 50%;
        }
        &.col-3 {
            flex: 1 1 33.3%;
        }
        &.col-4 {
            flex: 1 1 25%;
        }
    }
}


/*  btns  */

.btn {
    border: 0;
    color: $color1;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: box-shadow 0.3s ease;
    &:hover {
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
    }
}

.btn__prime {
    background: $color4;
}

.btn-prime {
    color: white;
    /*linear-gradient(#c4efc6,#4be4b0)*/
    background: $color3;
}


/* custom styling */

.container {
    width: 1170px;
    margin: auto;
    padding: 0 1rem;
}

header {
    display: flex;
    flex-direction: column;
    .header__firstpart {
        padding: 20px 0;
    }
    .header__secondpart {
        background: $color3;
    }
}

.social-icons {
    float: right;
    li {
        float: left;
        &:not(:last-child) {
            margin-right: 10px;
        }
        a {
            display: block;
            width: 30px;
            height: 30px;
            svg {
                transition: all 0.3s ease;
            }
            &:hover svg {
                transform: translateY(-5px);
            }
        }
    }
}

nav {
    display: flex;
    flex-direction: row;
    .logo {
        flex: 0 0 auto;
        letter-spacing: initial;
        a {
            display: block;
        }
    }
    .menu {
        display: flex;
        flex: 1;
        align-items: center;
        text-align: center;
        > li {
            flex: 1 1 auto;
            position: relative;
            &:hover {
                a + .menu__tools {
                    display: block;
                }
            }
        }
        a {
            display: block;
            text-transform: uppercase;
            color: $menucolor;
            padding: 1rem 0;
            font-size: 0.9rem;
            font-weight: bold;
            transition: color 0.3s linear;
            &:hover,
            :active,
            :focus {
                color: white;
            }
            + .menu__tools {
                position: absolute;
                display: none;
                text-align: left;
                transform-origin: top;
                transition: all 0.3s ease-out;
                top: 100%;
                min-width: 200px;
                background: white;
                box-shadow: 0 1px 1px 5px rgba(0, 0, 0, 0.2);
                a {
                    padding: 1rem;
                    &:hover {
                        color: white;
                        background: $menucolor
                    }
                }
            }
        }
    }
}

main {
    // height: 100vh;
}

.hero-image{
    background:url(../images/homepage2.jpeg);
    background-position:left;
    height: 500px;
    width: 100%;
    position: relative;

    .image{
        position: absolute;        
        width: auto;
        img{
            width: auto;
        }
    }

    .image1{
        width: 150px;
  left: 36%;
  top: 4%;
    }
    .image2{
        width: 150px;
  left: 52%;
  top: 50%;
    }
    .image3{
        width: 150px;
         left: 20%;
  top: 50%;
    }
    .image4{
          left: 20%;
  top: 25%;
    }

    .hero-heading{
text-align:center;
 font-family: 'Patua One', cursive;
 padding-top: 2rem;
    p{
        font-size: 3rem;
  color: white;
  padding-bottom: 2rem;
  border-bottom:3px dashed #fff;
  text-shadow: 2px 2px 10px rgba(237, 20, 61,0.5);
    }

    h2{
          
  font-size: 8rem;
 
color:#333;
  
    text-shadow: 2px 2px 10px rgba(255,255,255,1);
  span{
    color:crimson;
  }
    }
    }
}

.fourprinciples {
    padding: 2rem 0;
    margin-bottom: 1rem;
    text-align: center;
    figure {
        width: 50%;
        margin: 0 auto 10px;
        svg{
            max-width: 100%;
            width: 100%;
        }
    }
}

.paper{
    position: relative;
    z-index: 10;
    padding:2rem;
    margin: 4rem 0 2rem;

    &:before,&:after{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background:white;
        border:1px solid #e5e5e5;
        box-shadow:0 0 10px rgba(0,0,0,.2);
        transform: rotate(0);
    }

    &:after{
        transform: rotate(2deg);
    }

    h3{
        text-transform: uppercase;
        text-shadow: 3px 3px 1px rgba(237, 20, 61, 0.25);
    }

    .list-block{
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;        
    }
}

#forex_training{
    background: honeydew url(../images/hexagons.svg);
    background-size: 20px;
}

#strategy_service {
    background: url(../images/galaxy-spiral.png) no-repeat fixed;
    h2 {
        color: white;
    }
}

#signal_service{
    background: bisque url(../images/hexagons.svg);
    background-size: 25px;
}

#coding_service{
    background: url(../images/pattern1.png);
}

.contact-form {
    background: beige;
    h3 {
        color: initial;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1rem 0;
    }
    h4{
        font-size: 1.2rem;
    }
    input[type="text"],
    textarea,
    input[type="tel"],
    input[type="email"] {
        width: 100%;
        border-right: none;
        border-left: none;
        border-top: none;
        border-bottom: 2px ridge #DBDBDB;
        outline: none;
        padding: 1rem 0;
        font-size: 0.9rem;
        background: transparent;
    }
    textarea {
        height: 100px;
        outline: none;
        border-bottom: 1px ridge #DBDBDB;
        resize: none;
    }
    input[type="submit"] {
        background: url('../images/msg-icon.png') no-repeat 0px 0px;
        height: 23px;
        width: 167px;
        display: block;
        outline: none;
        text-indent: 30px;
        border: none;
        margin: 1rem 0;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
    input[type="submit"]:hover {
        opacity: 0.9;
        color: #999;
    }
    .social-icons {
        float: none;
    }
}

footer {
    padding: 2rem 0;
    color: white;
    background: $color1;
    text-align: center;
}


/* scroll top bullbear */

#bullbear {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    text-indent: -9999px;
    width: 75px;
    height: 75px;
    border: 5px solid $color2;
    border-radius: 50%;
    background-color: antiquewhite;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    background-position: 2px -1px;
    background-size: 60px;
    display: none;
    transform: scale(0);
    transition: background-position 0.2s ease-in-out, transform 0.3s ease;
    &:before {
        position: absolute;
        top: -18px;
        left: 15px;
        z-index: 8;
        display: block;
        content: "";
        border: 18px solid $color2;
        border-top: 0;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
    }
}

.board {
    background: white;
    margin-bottom: 2rem;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
    // color: $color1;
    .board__head {
        background: crimson;
        text-align: center;
        h4,
        small {
            color: white;
            margin: 0;
            padding: 0.5rem 0;
        }
        .price {
            background: darken(crimson, 10%);
            display: block;
            font-size: 3rem;
            color: initial;
        }
        small {
            display: block;
        }
    }
    .board__body {
        p,
        ul li {
            color: $color1;
            font-size: 1rem;
        }
        .strong {
            color: $color1;
        }
    }
    .btn-prime {
        font-size: 1.2rem;
        width: 100%;
    }
}

.board__body,
.board__foot {
    padding: 0.5rem;
}
